@model Models.CoverType
@{
    var title = "Create Cover Type";
}

<h1>Upsert</h1>

<form method="post">

    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.CoverTypeId != 0)
        {
            //EDIT CATEGORY
            title = "Edit Cover Type";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CoverTypeName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CoverTypeName" class="form-control" />
                    <span asp-validation-for="CoverTypeName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.CoverTypeId != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.CoverTypeId" />
                    }
                    else
                    {
                        <partial name="_CreateandBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}